# Dependencias
node_modules/

# Archivos creados por el sistema
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Build / dist
dist/
build/

# Cache
.cache/
.tmp/

# Archivos de herramientas
coverage/
